<nav>
	<ul>
	  	<li><a href="/">Home</a></li>
	  	<li><a href="/american">American</a></li>
	 	<li><a href="/african">African</a></li>
	 	<li><a href="/indian">Indian</a></li>
	 	<li><a href="/data">Data</a></li>
	  	<li style="float:right"><a class="active" href="/contact">Contact</a></li>
	</ul>
</nav>